<div>
    <h1>About US</h1>
   <p> WELCOME TO SHONIE HOTELS & RESORTS.<br>
    <br>
    Since 2018 Shonies Hotel has built a fine reputation for offering luxury hotels<br>
    and conference venues carefully situated in the mainstream of regional business<br>
    and travel destinations in South Africa.<br>
    <br>
    Shonies Hotel Hotels & Resorts was established when current Managing Director<br>
    Sam Nassimov purchased an old hotel in East London in the Eastern Cape, with<br> 
    a view to turning it into a boutique establishment. Offering discerning clients<br>
    a home away from home, the first branded ShoniesHotel was born.<br>
    <br>
    From a humble 40 bedrooms, Premier Hotels & Resorts’ portfolio has grown to<br> 
    encompass 16 hotels and resorts throughout the country, offering nearly<br>
    2000 bedrooms and providing employment opportunities <br>
    to over 1500 passionate members of staff.<br>
    <br>
    As an award-winning hospitality company with more than 25 years’ experience<br>
    developing and managing hotels, conference centres, boutique concept hotels and<br>
    restaurants, Shonies Hotels & Resorts has a proven reputation for delivering superior<br>
    results through forward focused ingenuity and exceptional asset management.<br>
    <br>
    Shonies Hotels & Resorts’ is set to continue its national expansion into hotel<br>
    property development and management, providing operational expertise to steer<br>
    hospitality ventures and developing partnerships that enable consumers<br>
     to experience superior guest services.<br>
</p>
<br>
<h1>Our Hotel</h1>
<h1>3 Stars Shonies Hotel </h1>
<br>
<p>Situated in the heart of Limpopo Vhembe district business district and rated one of<br>
     the best hotels in the Polokwane, the three star, stylish Shonies Hotel is centrally<br>
      located – ideal for the overnight traveler or business executive.<br>
<br>
    Shonies Hotel  Bloemfontein Central is a three star hotel, offering four star<br>
    services and facilities, and is conveniently located in the Makhado Crossing<br>
    Plaza shopping centre, close to all transport nodes, businesses and tourist attractions<br>
    .  The hotel offers a complimentary shuttle service to all guests around Bloemfontein<br>
    and to and from Bloemfontein Airport which is just 10 kllometres away.<br>
        <br>
    Our hotel has 115 spacious and comfortable rooms, each with en-suite bathrooms and<br>
     complimentray wi-fi.  Make your choice from a selection of Suites and Standard Rooms.<br>
        <br>
    Our 6 conference rooms can accommodate up to 420 delegates and provide modern,<br>
    open spaces for gala dinners, themed events, product launches, trade shows,<br>
    workshops and weddings.  There is also a 24 hour business centre to cater<br>
     to all your business needs.<br>
        <br>
    The Courtroom Restaurant is open daily for breakfast and dinner and offers a<br>
    delicious carvery buffet.  There is a grab-and-go breakfast option for the<br>
     early riser too.  Alternatively you can relax at the Judges Bar with colleagues<br>
      and associates or grab a quick lunch in between meetings.  At the end of a<br>
      busy day you can enjoy your favourite cocktail at the bar.<br>
        <br>
    For the gym fanatics there is a fitness centre 500 metres from the hotel, an<br>
    indoor heated swimming pool, tennis and squash courts and a golf course.<br>
    The more adventurous traveller can horse ride, water ski, hike, or take<br>
     in a scenic city or game reserve tour.<br>
        <br>
    Whether travelling for business or pleasure, Shonies Hotel Polokwane<br>
     Central provides a good base to work from. </p>
     <div class="container">
            <div class="overlay">
              <div class="text">Hello World</div>
            </div>
          </div>

</div>