<div>
 
        <h1>Service and Expertise</h1>
        <h1>Our Service</h1>
        <p>Shonie Hotel has the expertise to provide a complete management service<br>
                Nestled amidst the lush, indigenous gardens of the beautiful Lowveld hills,<br>
                just 5 minutes from (Meroppa Casino)<br>
                and 40 minutes from Bendor Park Villa Merzee, <br>
                Shonie Hoteloffers accommodation and conference facilities.<br>
                Our 34-roomed hotel, situated in White River, just outside of Nelspruit<br>
                combines tasteful décor with comfort.  Facilities and services include<br>
                cigar and cocktail lounge, in-house restaurant, conference centre and an outdoor swimming pool.<br>
                Our conference centre provides spacious facilities catering up to 240 delegates.<br>
                Guests can enjoy the many breath-taking, exciting nearby attractions and experiences the area has to off
              </p>
            
              <h1>Our Expertise</h1>
              <p>The Shonie Hotels crew really understands the hospitality business! We have been chefs<br>     
                accountants, departmental heads, general managers, regional managers and even owners<br>
                we know the territory like the backs of our hands; we understand <br>
                what it takes to manage a hotel in a way that surprises guests<br>
                and exceeds their expectations.<br>

                Every member of the team – personally appointed by Guy Stehlik<br>
                is keen to play a part in the success story that will be written in<br> 
                lights in the forth coming years.<br>
                  
                With shonie Hotels on board for a property opening or major repositioning,<br>
                you will be working with management experts that have gone through<br>
                the hotel development and opening experience countless times.<br>
                  
                We have the capacity to oversee everything - from day to day management<br>
                concept development, site selection, design co-ordination and contractor selection<br> 
                to the stocking of shelves, obtaining the right equipment, décor, licenses, staff selection<br>
                as well as organising your opening event.<br>
                  
                With shonie Hotels focusing on every aspect of your business, the specific needs of you<br>
                the owners, are met.  We structure a partnership with hotel owners that delivers<br>
                better than market-related returns<br> 
                improves viability, provides an excellent management infrastructure and an ethical<br>
                transparent business relationship
                  </p>
        
</div>
