
 
<div class="row"> 

<a target="_blank" href="../../assets/Unas.jpg">
      <img src="../../assets/Unas.jpg" style="width: 900px" height="600px">&#160;
  </a>
  <a target="_blank" href="../../assets/hotel-pool.jpg">
    <img src="../../assets/hotel-pool.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/vision.jpg">
    <img src="../../assets/vision.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/vhathu.jpg">
    <img src="../../assets/vhathu.jpg" style="width: 300px" height="400px">&#160;
  </a>
</div>